<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title><%= typeof title !== 'undefined' ? title : 'Sahab Solutions' %></title>
    <meta name="description" content="<%= typeof description !== 'undefined' ? description : 'Professional web development services' %>">
    
    <meta property="og:title" content="<%= typeof title !== 'undefined' ? title : 'Sahab Solutions' %>">
    <meta property="og:description" content="<%= typeof description !== 'undefined' ? description : 'Professional web development services' %>">
    <meta property="og:type" content="website">
    
    <link rel="icon" type="image/png" href="/images/favicon.png">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    
    <link rel="stylesheet" href="/css/variables.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/footer.css">
    
    <% if (typeof additionalCSS !== 'undefined') { %>
        <% additionalCSS.forEach(css => { %>
            <link rel="stylesheet" href="/css/<%= css %>">
        <% }) %>
    <% } %>
</head>
<body>
    <%- include('partials/nav') %>
    
    <main class="main-content">
        <%- body %>
    </main>
    
    <%- include('partials/footer') %>
    
    <script src="/js/common.js"></script>
    <script src="/js/nav.js"></script>
    <script src="/js/footer.js"></script>
    
    <% if (typeof additionalJS !== 'undefined') { %>
        <% additionalJS.forEach(js => { %>
            <script src="/js/<%= js %>"></script>
        <% }) %>
    <% } %>
</body>
</html>
